
<div class="jumbotron">
  <div class="container text-center">
    <h1>Menu Principal</h1>      
    <p>Manten toda tu informacion en orden</p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Trabajo diario</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Ordenes de Trabajo</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Ingreso de Productos</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Salida de Productos</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Reportes</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>
