<h1>Editing Detail Order Of Work</h1>

<%= render 'form', detail_order_of_work: @detail_order_of_work %>

<%= link_to 'Show', @detail_order_of_work %> |
<%= link_to 'Back', detail_order_of_works_path %>
